<nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-warning">ENERGY</span>SPORT</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler shadow-none" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" [routerLink]="['/hombres']" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hombres 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Zapatillas</a></li>
            <li><a class="dropdown-item" href="#">Remeras</a></li>
           
          </ul>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" [routerLink]="['/mujeres']" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mujeres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Zapatillas</a></li>
            <li><a class="dropdown-item" href="#">Remeras</a></li>
           
          </ul>
          </li>
         
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ofertas']">OFERTAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">TIENDAS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 20">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
              </svg> Carrito
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
