@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #444444;
}

.navbar .getstarted {
	background: #ecf1f9;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #4d4a4a;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.nav-link {
  color: red;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
  
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand {
	color: #e93838;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #88cf16;
}
.navbar-light .navbar-nav .nav-link {
	color: #e93838;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #88cf16;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
  border-style: none;
}
.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}


.dropdown:hover .dropdown-menu{
	display: block;
    background-color: #444444;
    color: #ecf1f9;
}
.card-body {
	height: 500px;
}